.box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time{
  font-size: 6.5vw;
  color: black;
}

.day-of-week {
  font-size: 3.7vw;
  color: gray;
}

.day-of-month {
  font-size: 4.7vw;
  color: gray;
}
