@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
  font-family: 'Audiowide', cursive;
}

.main-panel {
  display: inline-flex;
}

.side-panel {
  width: calc(50vw - 2vw - 1px);
  height: 100vh;
  flex: 1;
  padding-left: 1vw;
  padding-right: 1vw;

  max-height: 100vh;
  display: flex;
  flex-flow: column;
}

.left-panel {
  border-right: 1px solid gray;
  float: left;
  overflow: hidden;
}

.right-panel {
  float: right;
}

.two-items-widget {
  display: flex;
}

.two-items-widget .widget {
  width: 50%;
}

.six-items-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.six-items-widget .widget {
  width: 33%;
  max-width: 33%;
  height: 50%;
  max-height: 50%;
}

.widgets-box {
  flex: 1;
}

.widget {

}


.single-item-widget {
  display: block;
}
