<div class="main-panel">

  <div class="left-panel side-panel">
    <div class="two-items-widget widgets-box">
      <wth-weather-icon class="widget" [icon]="outdoorWeather.icon"></wth-weather-icon>
      <wth-outdoor-weather class="widget" [temperature]="outdoorWeather.temperature"
                           [pressure]="outdoorWeather.pressure"
                           [windSpeed]="outdoorWeather.windSpeed"></wth-outdoor-weather>
    </div>
    <div class="two-items-widget widgets-box">
      <wth-step-chart class="widget" [data]="temperatureForecastChartData" label="temperature"></wth-step-chart>
      <wth-step-chart class="widget" [data]="precipitationForecastChartData" label="precipitation"></wth-step-chart>
    </div>
    <div class="six-items-widget widgets-box" style="padding-left: 2vw">
      <wth-city-weather class="widget" *ngFor="let cityWeather of cities" [name]="cityWeather.cityName"
                        [temperature]="cityWeather.weather.temperature"
                        [icon]="cityWeather.weather.icon"></wth-city-weather>
    </div>
  </div>


  <div class="side-panel right-panel">
    <div class="two-items-widget widgets-box" style="height: 35%;">
      <wth-gauge-chart class="widget" label="temperature" [value]="indoorData.temperature" [colors]="settings.indoorTemperatureColors" unit="value" unitLabel="°C" min="7" max="35"></wth-gauge-chart>
      <wth-gauge-chart class="widget" label="humidity" [value]="indoorData.humidity" [colors]="settings.indoorHumidityColors" unit="percentage" unitLabel="%" min="0" max="100"></wth-gauge-chart>
    </div>
    <div class="single-item-widget widgets-box" style="height: 55%;">
      <wth-area-chart class="widget" [labels]="['temperature', 'humidity']" [data]="indoorHistoryChartData"></wth-area-chart>
    </div>
    <div class="single-item-widget widgets-box" style="height: 10%;">
      <wth-clock class="widget" [datetime]="currentTime"></wth-clock>
    </div>
  </div>
</div>
