h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.8vw;
}

.icon-city {

  height: 100%;
  flex: 10
}

.icon-and-temp {
  font-size: 2vw;
  display: flex;
}

.temperature {
  display: block;
  flex: 20;
}
