<div style="height: 100%;">
  <h2 style="height: 22%">{{name}}</h2>
  <div class="icon-and-temp" style="height: 78%">
    <wth-weather-icon class="icon-city" [icon]="icon"></wth-weather-icon>
    <span class="temperature">{{temperature | number : "1.0-1"}}°C</span>
  </div>
</div>


