.top {
  text-align: right;
  /*max-height: 100%;*/
}

.temperature {
  font-size: 6vw;
}

.pressure {
  font-size: 2vw;
}

.wind-speed {
  font-size: 2vw;
}

.wind-speed .icon.wind {
  height: 2vw;
  display: inline;
  margin-top: 18px;
}
