<div class="top">
  <div class="temperature">{{temperature | number : "1.0-1"}}°C</div>
  <div class="pressure">{{pressure}} hPa</div>
  <div class="wind-speed">
    <object class="icon wind" type="image/svg+xml" data="/icons/wind.svg">
      Your browser does not support SVG
    </object>
    {{windSpeed}} m/s
  </div>
</div>
